.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard__controls {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

.dashboard__row-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--gap-metric);
}

.dashboard__row-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-metric);
}
