.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard__controls {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

.dashboard__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-metric);
}

.dashboard__grid > :first-child {
  grid-column: 1 / -1;
}
